  @media (max-width: 600px) {
    .btn {
        padding: 0 1rem;    
    }
    nav.loggedIn {
        justify-content: flex-end;
        > img {
            display: none;
        }
    }
  }
  @media (max-width: 1000px) {
    .mobile-nav {
        display: block;
    }
    main {
        display: block;
    }

    .approach .container {
        flex-direction: column;
        .btn {
            margin: 1rem 0 0;
        }

        .user_close {
            display: block;
        }

        > .user_list {
            width: 100%;
        }

        > .user_data {
            position: absolute;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: white;
            box-shadow: 0 -2px 10px rgba(0,0,0,.1);
            margin-left: 0;
            padding: 1.2rem 1rem;
            max-height: 500px;
            overflow-y: scroll;
        }
    }

    /**
    * tab panel widget
    */
    .tabPanel-widget {
        padding-top: 2rem;
        position: relative;  /* containing block for headings (top:0) */
    }
    
    /**
    * because labels come first in source order - we use z-index to move them in front of the headings
    */
    .tabPanel-widget > label {
        position: absolute;
        z-index: 1;
    }
    
    /**
    * labels and headings must share same values so grouping declarations in this rule prevents async edits (risk of breakage)
    * line-height == height -> vertical centering
    * the width dictates the offset for all headings but the first one: left offset = width * number of previous heading(s)
    * note that width and offset of label/heading pair can be customized if necessary
    */
    
    .tabPanel-widget > label,
    .tabPanel-widget > h2 {
        font-size: .8rem;
        height: 2rem;
        line-height: 2rem;
    }

    .mobile-nav:nth-child(1),
    .mobile-nav:nth-child(2),
    .mobile-nav:nth-child(3) {
        width: 45%
    }

    .mobile-nav:nth-child(5),
    .mobile-nav:nth-child(6),
    .mobile-nav:nth-child(7) {
        width: 55%
    }

    
    /**
    * position:relative is for the markers (the down arrow in tabs)
    */
    .tabPanel-widget > h2 {
        position: absolute;
        margin: 0;
        text-align: center;
        background: #999;
        color: #fff;
    }
    
    .tabPanel-widget > label {
        border-right: 1px solid #fff;  
    }
    
    
    /**
    * We target all the label/heading pairs
    * we increment the :nth-child() params by 4 as well as the left value (according to "tab" width)
    */
    
    .tabPanel-widget label:nth-child(1), 
    .tabPanel-widget h2:nth-of-type(1) {
        top: 0;
        left: 0;
    }
    
    .tabPanel-widget label:nth-child(5), 
    .tabPanel-widget h2:nth-of-type(2) {
        top: 0;
        right: 0;
    }
    
    /**
    * we visually hide all the panels
    * https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
    */
    .tabPanel-widget input + h2 + div {
        position: absolute !important;
        // clip: rect(1px, 1px, 1px, 1px);
        padding:0 !important;
        border:0 !important;
        height: 1px !important; 
        width: 1px !important; 
        overflow: hidden;
    }
    /**
    * we reveal a panel depending on which control is selected 
    */
    .tabPanel-widget input:checked + h2 + div {
        position: static !important;
        padding: 1em !important;
        height: auto !important; 
        width: auto !important; 
    }
    
    /**
    * shows a hand cursor only to pointing device users
    */
    .tabPanel-widget label:hover {
        cursor: pointer;
    }
    
    .tabPanel-widget > div {
        background: #f0f0f0;
        padding: 1em;
    }
    
    /**
    * we hide radio buttons and also remove them from the flow
    */
    .tabPanel-widget input[name="tabs"] {
        opacity: 0;
        position: absolute;
    }
    
    
    /** 
    * this is to style the tabs when they get focus (visual cue)
    */
    
    .tabPanel-widget input[name="tabs"]:focus + h2 {
        outline: 1px dotted #000;
        outline-offset: 10px;
    }
    
    
    /**
    * reset of the above within the tab panel (for pointing-device users)
    */
    .tabPanel-widget:hover h2 {
        outline: none !important;
    }
    
    /**
    * visual cue of the selection
    */
    .tabPanel-widget input[name="tabs"]:checked + h2 {
        background: #333;
    }
    
    /**
    * the marker for tabs (down arrow)
    */
    .tabPanel-widget input[name="tabs"]:checked + h2:after {
        content: '';
        margin: auto;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #333;
    }
  }